﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CST8359 Assignment 2 </h1>
    <p>Putting all of the pieces together to create coherent web applications using ASP.NET MVC Core, Entity Framework, Static Content, Migrations, and File Uploads  </p>
    <p>Chengkuan and Thi Thanh Van</p>
    <p>2024 August</p>
</div>