﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CST8359 Lab 5 </h1>
    <p>Putting all of the pieces together to create coherent web applications using ASP.NET MVC Core and the Entity Framework.  </p>
    <p>Chengkuan Zhao 2024 July</p>
</div>